# Ignore node_modules directory and all of its contents
node_modules

# Ignore build output directory
/build

# Ignore the .env file which may contain sensitive information
.env

# Ignore log files and other temporary files
*.log
*.tmp
*.pid

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled code
*.class
*.war
*.jar

# Ignore macOS specific files
.DS_Store

# Ignore editorconfig
.editorconfig